<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %> 
<%- include('../../partials/sidebar.ejs') %> 
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Voucher</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
              <li class="breadcrumb-item active">Ubah</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form ubah "<%= voucher.name %>"</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action='/voucher/edit/<%= voucher._id %>?_method=PUT' method="post" enctype="multipart/form-data">
                  <div class="card-body">
                    <div class="form-group">
                        <label for="name">Nama game</label>
                        <input type="text" name="name" value="<%= voucher.name %>" class="form-control" id="name" placeholder="Masukan nama game">
                    </div>
                    <div class="form-group">
                        <label for="category">Pilih Kategori</label>
                        <select class="form-control select2" name="category" style="width: 100%;">
                            <option selected="selected">Pilih kategori</option>
                            <% category.forEach(categori => { %>
                                <option value="<%= categori._id %>"
                                    <% if (categori._id.toString() === voucher?.category?._id.toString()) { %>
                                        selected
                                    <% } %>
                                    >
                                    <%= categori.name%>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nominals">Pilih Nominal</label>
                        <div class="select2-purple" >
                            <select class="form-control select2" multiple="multiple" name="nominals" data-placeholder="masukan pilihan nominal" style="width: 100%;" >
                                <% nominal.forEach(nominal => { %>
                                    <option value="<%= nominal._id %>"
                                        <% voucher.nominals.forEach(voucherNominal => { %>
                                            <% if (nominal._id.toString() === voucherNominal._id.toString()) {%> 
                                                selected
                                            <% } %>
                                        <% }) %>
                                        >
                                        <%= nominal.coinName%> <%= nominal.coinQuantity%>
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="image">Gambar</label>
                      <input type="file" name="image" class="form-control" id="image" placeholder="Masukan thumbnail" />
                      <br />
                      <img src="http://localhost:3000/uploads/<%= voucher.thumbnial %>" id="perview">
                  </div>
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit"  class="btn btn-primary">Simpan</button>
                  </div>
                </form>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <%- include('../../partials/footer.ejs') %> 
  <%- include('../../partials/js.ejs') %> 

  <script>
    function readURL(event) {
      if(event.files && event.files[0]) {
        const reader = new FileReader();
        console.log(event.files[0])
        reader.onload = function(e){
          $('#perview').attr('src', e.target.result);
          $('#perview').attr('width', "20%");
          $('#perview').attr('height', "20%");
          console.log(e.target.result);
        }
        reader.readAsDataURL(event.files[0]);
      }

    }

    $('#image').change(function() {
      readURL(this);
    })
  </script>